build/
nbproject/private/private.properties
user.dat
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/project.properties

nbproject/project.properties
nbproject/private/private.properties
nbproject/private/private.xml